{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#members}}
        <tr>
            <th><a href="members/{{id}}">{{id}}</a></th>
            <td>{{username}}</td>
            <td>{{password}}</td>
        </tr>
    {{/members}}
    </tbody>
</table>

<a href="/signup">Create new member</a>

{{>layouts/footer}}